html{
  font-family: monospace;
  font-size: 1.5vw;
}
.highlighted {
    font-weight: bold;
}
.persons {
    color: Red;
}
.locations {
    color: Blue;
}
.dates {
    color: Green;
}
.values {
    color: Yellow;
}
.non_highlighted {
    font-weight: light;
}
